<ion-header-bar class="bar-stable">
    <div class="buttons">
        <button class="button button-clear" ng-click="$ctrl.goBack()">Back</button>
    </div>
    <h1 class="title">Modal View B</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="$ctrl.IonicModalNavService.hide({data:'123'})">Close</button>
    </div>
</ion-header-bar>
<ion-content class="has-header">
    <div class="row">
        <div class="col">
            NO WHERE LEFT TO GO
        </div>
    </div>
</ion-content>