<ion-content class="has-header">
    <div class="row">
        <div class="col">
            <button class="button button-positive" ng-click="$ctrl.IonicModalNavService.show('modal-viewA')">Open Modal</button>
        </div>
        <div class="col">
            <button class="button button-positive" ui-sref="next-base">Next Base</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="button button-energized" ui-sref="side-nav">To Side Nav</button>
        </div>
    </div>
</ion-content>